adjective_density.ipynb
rough_timetable.txt
4.10.21 Meeting notes.txt
4.10.21 Reading List.csv
11.10.21 meeting.txt
Baseline Comparisons.csv
message_about_baselines.txt
src/spelling_and_grammar.ipynb
types of NNs.txt
src/deep_learning/glove.6B.50d.txt
src/deep_learning/glove.6B.100d.txt
src/deep_learning/glove.6B.200d.txt
src/deep_learning/glove.6B.300d.txt
src/deep_learning/training vs testing loss.png
src/deep_learning/bert_tests/Epochs - 1 Batch Size - 32.jpeg
src/deep_learning/bert_tests/Epochs - 1 Batch Size - 64.jpeg
src/deep_learning/bert_tests/Epochs - 2 Batch Size - 32.jpeg
src/deep_learning/bert_tests/Epochs - 2 Batch Size - 64.jpeg
src/deep_learning/bert_tests/Epochs - 3 Batch Size - 32.jpeg
src/deep_learning/bert_tests/Epochs - 3 Batch Size - 64.jpeg
src/deep_learning/bert_tests/Epochs - 4 Batch Size - 32.jpeg
src/deep_learning/bert_tests/Epochs - 4 Batch Size - 64.jpeg
src/deep_learning/bert_tests/Epochs - 8 Batch Size - 32.jpeg
src/deep_learning/bert_tests/Epochs - 8 Batch Size - 64.jpeg
src/deep_learning/bert_tests/pretrained.h5
src/deep_learning/bert_tests/normalised.h5
src/deep_learning/bert_tests/model.h5
src/deep_learning/bert_tests/average.h5